body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

footer img{
    width: 40px;
    height: 40px;
    align-items: center;
 }

 footer{
    display: flex;
    justify-content: center;
 }
 
 footer a{
    margin: 20px;
    text-align: center;
 }

 footer p{
    margin-top: 2px;
 }
 footer p:hover{
    color: chartreuse;
 }

 .luis {
    padding: 0px 60px;
 }

nav a:hover{
    color: chartreuse
}
.center{
    padding: 80px;
}
h1{
    color: chartreuse;
}
header img {
    width: 400px;
    height: 400px;
}
header p{
    text-align: left;
    justify-content: left;
    padding: 80px;
}